*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}
body{

    font-family: 'Tilt Neon', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.content a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
.content a:hover{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.content{
    padding: 100px 50px;
    background: #158cba;
    background: linear-gradient(194deg,#158cba 0%, #ffffff 20%, #158cba 80%);
    background: -webkit-linear-gradient(194deg,#158cba 0%, #ffffff 20%, #158cba 80%);
    background: -moz-linear-gradient(194deg,#158cba 0%, #ffffff 20%, #158cba 80%);
    flex-grow: 1;
}
footer{
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}